[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[user]
	name = Matheus Sampaio Queiroga
	email = srherobrine20@gmail.com
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[format]
	signoff = true
